<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converted Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Converted Image</h1>
        <p>{{ user_text }}</p>
        <img src="{{ image_url }}" alt="Converted Image">
        <br/>
         <a href="/" class="btn">Go Back</a>
    </div>
</body>
</html>