<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converted Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="column_container">
        <h1>Changed Image</h1>
        <div class="row_container">
            <div class="column_container">
                <img src="{{ image1_url }}" alt="Converted Image">
                <h2>{{ style1_txt }}</h2>
            </div>

            <div class="column_container">
                <img src="{{ image2_url }}" alt="Converted Image">
                <h2>{{ style2_txt }}</h2>
            </div>

             <div class="column_container">
                <img src="{{ image3_url }}" alt="Converted Image">
                 <h2>{{ style3_txt }}</h2>
            </div>

             <div class="column_container">
                <img src="{{ image4_url }}" alt="Converted Image">
                 <h2>{{ style4_txt }}</h2>
            </div>
        </div>
        <br/>
         <a href="/" class="btn">Go Back</a>
    </div>
</body>
</html>